@font-face {
	font-family: "onLogsFont";
	src: url("onLogsFont.eot?3de1796cd56d0c26250c3015be083f1b?#iefix") format("embedded-opentype"),
url("onLogsFont.woff2?3de1796cd56d0c26250c3015be083f1b") format("woff2"),
url("onLogsFont.woff?3de1796cd56d0c26250c3015be083f1b") format("woff"),
url("onLogsFont.ttf?3de1796cd56d0c26250c3015be083f1b") format("truetype"),
url("onLogsFont.svg?3de1796cd56d0c26250c3015be083f1b#onLogsFont") format("svg");
	font-weight: normal;
    font-style: normal;
}

.log {
}

.log:before {
	font-family: onLogsFont !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.log-Alert:before {
	content: "\f101";
}
.log-Archive:before {
	content: "\f102";
}
.log-ArrowRight:before {
	content: "\f103";
}
.log-Break:before {
	content: "\f104";
}
.log-Burger:before {
	content: "\f105";
}
.log-Clean:before {
	content: "\f106";
}
.log-Clock:before {
	content: "\f107";
}
.log-Close:before {
	content: "\f108";
}
.log-Colums:before {
	content: "\f109";
}
.log-Combine:before {
	content: "\f10a";
}
.log-Copy:before {
	content: "\f10b";
}
.log-Cut:before {
	content: "\f10c";
}
.log-Data:before {
	content: "\f10d";
}
.log-Down:before {
	content: "\f10e";
}
.log-EmptyHeart:before {
	content: "\f10f";
}
.log-Eye:before {
	content: "\f110";
}
.log-Filter:before {
	content: "\f111";
}
.log-Group:before {
	content: "\f112";
}
.log-Heart:before {
	content: "\f113";
}
.log-Home:before {
	content: "\f114";
}
.log-Info:before {
	content: "\f115";
}
.log-Last:before {
	content: "\f116";
}
.log-Leters:before {
	content: "\f117";
}
.log-Logout:before {
	content: "\f118";
}
.log-Moon:before {
	content: "\f119";
}
.log-Pencil:before {
	content: "\f11a";
}
.log-Plus:before {
	content: "\f11b";
}
.log-Pointer:before {
	content: "\f11c";
}
.log-Refresh:before {
	content: "\f11d";
}
.log-Search:before {
	content: "\f11e";
}
.log-Server:before {
	content: "\f11f";
}
.log-Sun:before {
	content: "\f120";
}
.log-User:before {
	content: "\f121";
}
.log-Wheel:before {
	content: "\f122";
}
