@font-face {
	font-family: "onLogsFont";
	src: url("onLogsFont.eot?7d4c0d4940459a5f0effb92914c0c66d?#iefix") format("embedded-opentype"),
url("onLogsFont.woff2?7d4c0d4940459a5f0effb92914c0c66d") format("woff2"),
url("onLogsFont.woff?7d4c0d4940459a5f0effb92914c0c66d") format("woff"),
url("onLogsFont.ttf?7d4c0d4940459a5f0effb92914c0c66d") format("truetype"),
url("onLogsFont.svg?7d4c0d4940459a5f0effb92914c0c66d#onLogsFont") format("svg");
	font-weight: normal;
    font-style: normal;
}

.log {
}

.log:before {
	font-family: onLogsFont !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.log-Alert:before {
	content: "\f101";
}
.log-ArrowRight:before {
	content: "\f102";
}
.log-Clean:before {
	content: "\f103";
}
.log-Colums:before {
	content: "\f104";
}
.log-Combine:before {
	content: "\f105";
}
.log-Cut:before {
	content: "\f106";
}
.log-Data:before {
	content: "\f107";
}
.log-Eye:before {
	content: "\f108";
}
.log-Filter:before {
	content: "\f109";
}
.log-Group:before {
	content: "\f10a";
}
.log-Info:before {
	content: "\f10b";
}
.log-Last:before {
	content: "\f10c";
}
.log-Moon:before {
	content: "\f10d";
}
.log-Pencil:before {
	content: "\f10e";
}
.log-Plus:before {
	content: "\f10f";
}
.log-Refresh:before {
	content: "\f110";
}
.log-Search:before {
	content: "\f111";
}
.log-Server:before {
	content: "\f112";
}
.log-User:before {
	content: "\f113";
}
.log-Wheel:before {
	content: "\f114";
}
.log-server:before {
	content: "\f115";
}
