@font-face {
	font-family: "onLogsFont";
	src: url("onLogsFont.eot?f1e2b53c223e82d27c3c39669748d1ce?#iefix") format("embedded-opentype"),
url("onLogsFont.woff2?f1e2b53c223e82d27c3c39669748d1ce") format("woff2"),
url("onLogsFont.woff?f1e2b53c223e82d27c3c39669748d1ce") format("woff"),
url("onLogsFont.ttf?f1e2b53c223e82d27c3c39669748d1ce") format("truetype"),
url("onLogsFont.svg?f1e2b53c223e82d27c3c39669748d1ce#onLogsFont") format("svg");
	font-weight: normal;
    font-style: normal;
}

.log {
}

.log:before {
	font-family: onLogsFont !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.log-Alert:before {
	content: "\f101";
}
.log-ArrowRight:before {
	content: "\f102";
}
.log-Break:before {
	content: "\f103";
}
.log-Clean:before {
	content: "\f104";
}
.log-Clock:before {
	content: "\f105";
}
.log-Close:before {
	content: "\f106";
}
.log-Colums:before {
	content: "\f107";
}
.log-Combine:before {
	content: "\f108";
}
.log-Copy:before {
	content: "\f109";
}
.log-Cut:before {
	content: "\f10a";
}
.log-Data:before {
	content: "\f10b";
}
.log-Down:before {
	content: "\f10c";
}
.log-Eye:before {
	content: "\f10d";
}
.log-Filter:before {
	content: "\f10e";
}
.log-Group:before {
	content: "\f10f";
}
.log-Home:before {
	content: "\f110";
}
.log-Info:before {
	content: "\f111";
}
.log-Last:before {
	content: "\f112";
}
.log-Leters:before {
	content: "\f113";
}
.log-Logout:before {
	content: "\f114";
}
.log-Moon:before {
	content: "\f115";
}
.log-Pencil:before {
	content: "\f116";
}
.log-Plus:before {
	content: "\f117";
}
.log-Refresh:before {
	content: "\f118";
}
.log-Search:before {
	content: "\f119";
}
.log-Server:before {
	content: "\f11a";
}
.log-Sun:before {
	content: "\f11b";
}
.log-User:before {
	content: "\f11c";
}
.log-Wheel:before {
	content: "\f11d";
}
