

#top-line {
    display: flex;
    align-items: center;
    gap: 20px
}

.show {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icon {
        display: flex;
        align-items: center;
        vertical-align: bottom;

        .log.log-Eye::before {
            font-size: 25px;
        }
    }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  height: 35px;
  background-color: #F8FAFB;
  border: 1px solid #A3A3B9;
  border-radius: 10px;
  vertical-align: baseline;
  input {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F8FAFB;
    border-radius: 10px;
  }
  input:focus {
    outline: none;
  }
}

.logs {
    overflow-y: scroll;
    padding-right: 16px;
}

.logs::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #00000000;
  }

.logs::-webkit-scrollbar-thumb {
    background-color: #0000002a;
    border-radius: 10px;
  }

  .lds-ellipsis {
    display: flex;
    align-self: center;
    justify-content: center;
    position:relative;
    height: 10px;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4E49DA;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }