 
@import "./utils/variables";
@import "./lib/Button/Button.scss";
@import "./lib/Container/Container.scss";
@import "./lib/LogsString/LogsString.scss";


body {font-family: 'Ubuntu', sans-serif;
  background-color:$background-color;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.contentContainer{
  padding:1.8vw;
  box-sizing: border-box;
  height: 100vh;
}

li{
  list-style: none;
  }
p{margin: 0;}

button{ border-width:0px}

.contentContainer{
  display:flex;
  justify-content:space-between ;
  
}

.subContainer{
   
    display:flex;
    flex-direction: column;
    
    box-sizing: border-box;

    &Left{ width:19.76vw;
    justify-content: space-between;}
    &Right{ width:10.12vw;
    justify-content: space-between;}
    &Middle{ width:62.26vw;
    justify-content: space-between;}


}

.subContainerThumb{
  height:39.72vh ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

