@import "./utils/variables";
@import "./lib/Button/Button.scss";
@import "./lib/Container/Container.scss";
@import "./lib/LogsString/LogsString.scss";
@import "./Views/Main/Main.scss";
@import "./Views/Logs/LogsView.scss";
@import "./Views/Login//Login.scss";
@import "./lib/HostList/HostList.scss";
@import "./lib/ClientPanel/ClientPanel.scss";
@import "./lib/DropDown/DropDown.scss";
@import "./lib/CheckBox/CheckBox.scss";
@import "./lib/UserMenu/UserMenu.scss";
@import "./lib/Modal/Modal.scss";
@import "./Theme.scss";
@import "./lib/ListWithChoise/ListWithChoise.scss";
@import "./lib/CommonList/CommonList.scss";
@import "./lib/ButtonToBottom/ButtonToBottom.scss";
@import "./lib/Toast/Toast.scss";
@import "./lib/NotFound/Notfound.scss";
@import "./lib/SecretModal/SecretModal.scss";
@import "./lib/LogsSize/LogSize.scss";
body {
  font-family: "Ubuntu", sans-serif;
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: $main-font-xl;
}

.contentContainer {
  padding: 1.8vw;
  box-sizing: border-box;
  height: 100vh;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

button {
  border-width: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

input {
  border: 0;
}

.visuallyHidden {
  position: absolute;
  left: -999999px;
  top: -999999px;
  width: 1px;
  height: 1px;
  display: none;
  opacity: 0;
}

.clickable {
  cursor: pointer;
}

.modalOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 6;
}
