@mixin dark-mode {
  background-color: $background-color-dark;
  .log {
    color: inherit;
  }
  div {
    color: $text-dark-color-dark;
    .dropDownContainer {
      background-color: $block-bg-color-dark;
      color: $text-dark-color-dark;
      box-shadow: $main-shadow-dark;
    }
    .container {
      box-shadow: $container-shadow-dark;
      background-color: $block-bg-color-dark;
      color: $text-dark-color-dark;
    }
    .highlighted {
      background-color: $active-color-dark;
    }
  }
  .button {
    background-color: $btn-primary-color-dark;
    color: $text-dark-color-dark;
  }
  .logsString {
    border-color: $lines-color-dark;
  }
  input {
    background-color: $btn-primary-color-dark;
    border-color: $text-placeholder-color-dark;
    color: $text-dark-color-dark;
    &:focus {
      border-color: $active-color-dark;
    }
  }
  div.active {
    .checkboxRoll {
      background-color: $active-color-dark;
    }
  }
  .userTable tr {
    border-color: $lines-color-dark;
  }
  .addUserButton {
    &:hover {
      background-color: $active-color-dark;
    }
  }
  .modalContainer {
    background-color: $block-bg-color-dark;
    color: $text-dark-color-dark;
    box-shadow: $main-shadow-dark;
    input {
      outline: none;
      background-color: $btn-primary-color-dark;
      border-color: $text-placeholder-color-dark;
      color: $text-dark-color-dark;
      &:focus {
        border-color: $active-color-dark;
      }
    }
    label,
    h3 {
      color: inherit;
    }
  }
  .contentContainer {
    h1#title {
      color: $active-color-dark;
    }
    input {
      outline: none;
      background-color: $btn-primary-color-dark;
      border-color: $text-placeholder-color-dark;
      color: $text-dark-color-dark;
      &:focus {
        border-color: $active-color-dark;
      }
    }
  }

  .buttonToBottomContainer {
    background-color: $active-color-dark;

    .icoContainer {
      font-size: 14px;
      z-index: 4;
      color: $text-onactive-color-dark;
    }
  }

  .toastContainer {
    background-color: $background-color-dark;
    box-shadow: $main-shadow-dark;
  }
}
.dark-mode {
  @include dark-mode;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
