// colors
  $active-color: #6f6af8;
  $inpun-color: #f8fafb;
  $text-onactive-color: #fbfcff;
  $text-dark-color: #1b1850;
  $text-placeholder-color: #a3a3b9;
  $lines-color: #c8d2e5;
  $background-color: #F8FAFB;
  $btn-common-color: #414860;
  $btn-primary-color: #FFFFFF;
  $background-color:#f8fafb;
  




  $active-color-dark: #1b5d72;
  $inpun-color-dark: #a3a3b9;
  $text-onactive-color-dark: #d0d3db;
  $text-dark-color-dark: #f2f1ff;
  $text-placeholder-color-dark: #a3a3b9;
  $lines-color-dark: #c8d2e5;
  $background-color-dark: #434664;
  $btn-primary-color-dark: #414860;
  $btn-common-color-dark: #414860;
 

// shadows

$main-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
$container-shadow: 1px 1px 30px rgba(5, 39, 70, 0.1);

//border-radius

$main-border-radius: 10px;
$large-border-radius: 20px;

//fonts
$main-font-xs:12px;
$main-font-s:14px;
$main-font-m:16px;
$main-font-l:22px;
$main-font-xl:28px;

//line-height
$line-height:2.5;

//paddings
$normal-padding:12px;
$container-padding:20px;
$container-vertical-padding:16px