.contentContainer {
  display: flex;
  justify-content: space-around;
}

.subContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;

  box-sizing: border-box;

  &Left {
    width: 20vw;
    justify-content: space-between;
    position: relative;
    .container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
    }
  }
  &Right {
    width: 12vw;
    justify-content: space-between;
  }
  &Middle {
    width: 60vw;
    justify-content: space-between;
    height: 100%;
    .container {
      max-height: 100% !important;
    }
  }
}

.subContainerThumb {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.onLogsPanelHeader {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: relative;
  padding: $container-padding;
  i {
    font-size: 18px;
    line-height: 1.142;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column-reverse;

    &:before {
      display: flex;
      justify-content: center;
      justify-items: center;
    }
  }
  h1 {
    cursor: pointer;
    padding: 6px;
    padding-left: 0;
  }
}

.subContainer {
  & > .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
  }
}

button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.onLogsPanel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 16px;
}
